<html>

<head>

<style>
    .flash-sale .c-tile__wrap {
        margin: 1px 1px 0 0;
    }
    
    .flash-sale .c-lockup__seperator {
        background: black !important;
    }
    
    .flash-sale .u-light-mode,
    .flash-sale .u-light-mode .t-heading,
    .flash-sale .u-light-mode .c-lockup__number,
    .flash-sale .u-light-mode .c-lockup__number-percentage,
    .flash-sale .u-light-mode .c-lockup__number-off {
        color: white !important;
    }
    
    .flash-sale .u-light-mode .c-lockup__seperator {
        background: rgb(0, 0, 0);
    }
</style>

</head>

<body>
<div class="m-wrap m-wrap--spacious flash-sale">
    <div class="m-wrap__card">
        <div class="m-wrap__content">
            <div class="todo-container u-columns c-card-promo-product__columns">  
                <div class="u-columns__column u-columns__column--six-s todo-item lmdd-block u-columns__column--six-l">
                    <article class="c-tile__wrap u-light-mode"><a href="{picklistURL}" aria-hidden="true" data-twg-id="" class="c-tile__link promo_box">Full Suspension Bikes</a>
                        <div class="c-tile-top u-bg-white c-tile c-tile-coupon2 u-aspect-nine-by-eight u-aspect-eight-by-nine-m u-aspect-sixteen-by-nine-l">
                            <div class="c-tile-coupon3__image" style="background-image: url(&quot;{imageURL};);"><br></div>
                            <div class="c-tile-coupon3__content-wrap">
                                <div class="c-tile-coupon3__content ">
                                    <h3 class="c-tile-coupon3__heading t-heading u-font"><small contenteditable="false"></small></h3>
                                    <h5 contenteditable="false" class="c-tile-coupon3__heading t-heading" style="color:black !important;">{title}</h5>
                                    <div class="c-tile-coupon3__offer">
                                        <div class="c-lockup">
                                            <div class="c-lockup__price-title">
                                            </div>
                                            <div class="u-flex-column">
                                                <div class="u-flex">
                                                    <div contenteditable="false" class="c-lockup__number t-bold-weight" style="color:black !important;">{x}</div>
                                                    <div class="c-lockup__price-suffix">
                                                        <div class="c-lockup__number-percentage t-bold-weight" style="color:black !important;">%</div>
                                                        <div class="c-lockup__number-off t-bold-weight" style="color:black !important;">Off</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!---->
                                    </div>
                                </div>
                                <!-- {excludes} -->
                                 <div class="c-lockup">
                                    <div class="c-lockup__price-title mt-1">
                                        <div class="u-flex-justify-center c-lockup__label u-uppercase"style="color:black !important;"><small contenteditable="false"style="color:black !important;">*Excludes E-Bikes</small></div>
                                    </div> 
                                </div>
                            </div>
                            <!---->
                            <!-- {club} -->
                           <div class="c-tile-coupon3__footer">
                                <div class="c-pill c-club-tag c-tile-coupon3__pill">CLUB OFFER</div>
                            </div> 
                        </div>
                    </article>
                </div>
            </div> 
        </div>
    </div>
</div>
</body>
</html>